@page
@model ECommerce.WebApp.Pages.BasketModel
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">

    @if (Model.Products.Count == 0)
    {
        <br/>
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Basket is empty</h4>
            <p>Your basket is currently empty.</p>
        </div>
    }

    @if (!Model.HasError && Model.Products.Count > 0)
    {
        <h1>Your Basket</h1>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <th scope="row">@item.ProductId</th>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        <td>@string.Format("${0}", item.Price)</td>
                        <td>
                            <button class="btn btn-outline-danger removeButton" value="@item.ToJson()">
                                Remove
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <br />

        <button class="btn btn-outline-success purchaseButton">
            PURCHASE
        </button>
    }

    <script src="~/js/Basket.js" defer></script>

</div>
